{{#if globalFilters}}
  <div class="global-filter-container">
    {{#each globalFilters as |filter|}}
      {{global-filter-item filter=filter id=(concat "global-filter-" filter)}}
    {{/each}}
  </div>
{{/if}}
