<div class="global-filter-composer-container">
  {{#if this.globalFilters}}
    {{#each this.globalFilters as |filter|}}
      <GlobalFilter::ComposerItem
        @filter={{filter}}
        @composer={{@composer}}
      />
    {{/each}}
  {{/if}}
</div>
