<div class="global-filter-composer-item">
  <div class={{concat "global-filter-composer-tag-" @filter}}>
    <label>
      <Input
        @type="checkbox"
        @checked={{this.checked}}
        {{on "click" (action "toggleTag")}}
      />
      {{@filter}}
    </label>
  </div>
</div>
