<div id={{(concat "global-filter-" @filter)}} class="global-filter-item">
  <a data-auto-route="true" href={{this.route}} class="global-filter-button">
    {{spacedTag}}
  </a>
</div>

{{plugin-outlet name="below-global-filter-item" args=(hash filter=filter)}}
