.global-filter-button-container {
  display: flex;
  justify-content: center;

  .global-filter-item {
    padding: 1rem;

    .btn.active {
      background-color: var(--tertiary-medium);
    }
  }
}

.global-filter-composer-container {
  display: flex;
  margin-bottom: 4px;

  .global-filter-composer-item {
    margin-right: 1rem;
  }
}

.navigation-container {
  .filtered-category-drop {
    margin-right: inherit;
  }
}

ol.category-breadcrumb > li:not(.filtered-tags-chooser) {
  // hide default category and tag-drop chooser
  display: none;
}

.composer-fields .title-and-category details.mini-tag-chooser:first-of-type {
  // hide default composer tag chooser
  display: none;
}

.composer-fields .title-and-category details.mini-tag-chooser {
  // because we are dynamically showing and hiding elements the max-width
  // was not being calculated properly. `Unset` sets the value to expected width
  max-width: unset !important;
}

.filtered-tags-chooser .filtered-tag-drop li[data-value="no-tags"] {
  // hide no-tags option from tag-dropdown
  display: none;
}

.filter-tag-admin-pane {
  .filter-tag-name {
    float: left;
    width: 15%;
    margin-right: 12px;
  }

  .filter-tag-category-chooser {
    float: left;
    width: 80%;
    padding-right: 20px;
    margin-bottom: 15px;
  }
}
