.global-filter-button-container {
  display: flex;
  justify-content: center;

  .global-filter-item {
    padding: 1rem;

    a.active {
      background-color: var(--tertiary-medium);
    }
  }
}

.global-filter-composer-container {
  display: flex;
  margin-bottom: 4px;

  .global-filter-composer-item {
    margin-right: 1rem;
  }

  .global-filter-chooser {
    margin-bottom: 0.25rem;
    width: 100%;
  }
}

.navigation-container {
  .filtered-category-drop {
    margin-right: inherit;
  }
}

ol.category-breadcrumb > li:nth-child(-n + 2) {
  // hide default category and tag-drop chooser
  display: none;
}

.composer-fields .title-and-category details.mini-tag-chooser:first-of-type {
  // hide default composer tag chooser
  display: none;
}

.composer-fields .title-and-category {
  gap: 0 0.5rem;
}

.filtered-tags-chooser .filtered-tag-drop li[data-value="no-tags"] {
  // hide no-tags option from tag-dropdown
  display: none;
}

.mobile-view {
  .nav.nav-pills {
    .inline-extra-nav-item-outlet.filtered-tags-chooser {
      margin-left: 0.5rem;
      border: none;

      .filtered-tag-drop .tag-drop {
        height: 100%;
      }
    }
  }
}

.alternate-filter-name-picker-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.alternate-name-picker-description {
  margin-bottom: 2rem;
  font-size: var(--font-down-2);
}

.alternate-name-picker-label {
  font-size: var(--font-down-1);
}

.composer-only-wrapper {
  display: flex;
  .composer-only-input {
    margin: 0 3px 5px 0;
  }
}

.filter-tag-admin-pane {
  .global-filter--c-depth-0 {
    border-top: 2px solid var(--primary-low);
    background-color: var(--primary-very-low);
  }

  .global-filter--c-depth-1 td:first-child {
    padding-left: 20px;
  }

  .global-filter--c-depth-2 td:first-child {
    padding-left: 40px;
  }

  table.sticky-header {
    thead {
      position: sticky;
      top: var(--header-offset, 60px);
      z-index: 2;
      background-color: var(--secondary);
    }
  }
}
