.global-filter-container {
  display: flex;
  justify-content: center;

  .global-filter-item {
    padding: 1rem;

    .active {
      background-color: var(--tertiary-medium);
    }
  }
}

.global-filter-composer-container {
  display: flex;
  margin-bottom: 4px;

  .global-filter-composer-item {
    margin-right: 1rem;
  }
}

.navigation-container {
  // hide default tag chooser
  li:nth-child(2) {
    display: none;
  }
}
