{{#if this.globalFilters}}
  <PluginOutlet @name="above-global-filter-container" />
  <div class="global-filter-button-container">
    {{#each globalFilters as |filter|}}
      <GlobalFilter::FilterItem @filter={{filter}} />
    {{/each}}
  </div>
{{/if}}