{{#if this.canDisplay}}
  <div class="global-filter-composer-container">
    <GlobalFilterChooser
      @value={{@composer.tags}}
      @onChange={{action (mut @composer.tags)}}
    />
  </div>
{{/if}}