<label
  class={{concat
    "global-filter-composer-item global-filter-composer-tag-"
    @filter.name
  }}
>
  <Input
    @type="checkbox"
    @checked={{this.checked}}
    {{on "change" this.toggleTag}}
  />
  <span class="pre-label"></span>
  <span class="tag-label">{{this.tagName}}</span>
</label>
