<PluginOutlet @name="before-filtered-tags-chooser" />
<li class="filtered-tag-drop">
  <TagDrop
    @currentCategory={{@category}}
    @noSubcategories={{@currentCategory.subcategory_ids}}
    @tagId={{null}}
  />
</li>