<div class="select-kit-header-wrapper">
  {{#each this.selectedContent as |item|}}
    <GlobalFilter::SelectedChoiceName @item={{item}} />
  {{else}}
    <span class="no-selection">
      {{i18n "global_filter.composer_dropdown.none"}}
    </span>
  {{/each}}
  {{d-icon this.caretIcon class="caret-icon"}}
</div>